# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Environment
.env
*.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Spark
derby.log
metastore_db/
spark-warehouse/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Airflow
airflow.db
airflow.cfg
logs/
